<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
    <script>
        function loadHTML(id, file) {
            fetch(file)
                .then(response => response.text())
                .then(data => {
                    document.getElementById(id).innerHTML = data;
                });
        }

        document.addEventListener('DOMContentLoaded', () => {
            loadHTML('header', 'header.html');
            loadHTML('footer', 'footer.html');
        });
    </script>
</head>
<body>
    <div id="header"></div>
 
    <h1>로그인</h1>
    <div class="container">
        <!-- Vue 애플리케이션을 마운트할 요소 추가 -->
        <div id="app">
            <form id="loginForm">
                <label for="userId">아이디:</label>
                <input type="text" placeholder="아이디" v-model="user.id">
                <label for="password">비밀번호:</label>
                <input type="password" placeholder="비밀번호" v-model="user.pwd">
                <button type="button" @click="fnLogin">로그인</button>
            </form>
            <p id="loginMessage" class="errorMessage"></p>
        </div>
    </div>
    
    <div id="footer"></div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    user: {
                        id: "",
                        pwd: ""
                    }
                };
            },
            methods: {
                fnLogin() {
                    var self = this;
                    $.ajax({
                        url: "http://localhost:3000/login",
                        dataType: "json",
                        type: "POST",
                        data: JSON.stringify(self.user),
                        contentType: "application/json",
                        success: function (data) {
                            console.log(data);
                            if (data[0].CNT > 0) {
                                alert("로그인 성공");
                                location.href = "index.html";
                            } else {
                                alert("아이디/패스워드를 다시 확인바람");
                            }
                        }
                    });
                }
            }
        });

        app.mount('#app');
    </script>
</body>
</html>